<h1>{{title}}</h1>
<div>
  <p><strong>FIRSTNAME:</strong>{{user._doc.first_name}} </p>
  <p><strong>LASTNAME:</strong>{{user._doc.last_name}} </p>
  <p><strong>EMAIL:</strong>{{user._doc.email}} </p>
  <p><strong>ROLE:</strong>{{user._doc.role}} </p>

  <form action="/api/sessions/logout" method="post">
    <button type="submit">Salir</button>
  </form>
</div>